<h1>점수를 매기겠습니다.</h1>
<div>
    <form action = "/custom_saving" method = "POST">
            <div>
                <img src="" alt="음료이미지">
                
                <label>음료 제목</label>
                <input name="drink_title" type="text" placeholder="제목">
                    
                <label>작성자</label>
                <input name="user_name" type="text" placeholder="이름">
            </div>
            
            
            
            <!-- **************************************  -->
            <div>
            <% lastcategory = "none" %> <!-- 먼저 이전꺼랑 비교할 변수를 만들고, "없음"을 저장-->
            <% @inglist.each do |e|%>   <!-- 재료 수만큼의 횟수로 반복문 돌림. -->
                <% if lastcategory == "none"%> <!-- 맨 첫번째 돌때만 "없음" 상태일 것이므로 암것도 출력안함 -->
                
                    <% elsif lastcategory == e.ingredient_category %> <!-- 이전 카테고리가 지금꺼랑 똑같으면 중복이므로 거름-->
                
                    <% else %> <!-- "없음"도 아니고, 전꺼랑 중복도 아니면 새 카테고리라는 뜻.-->
                        </select> <!--첫 루프가 아니고, 전이랑 카테고리가 다르면 </select> -->
                        </div> <!--이전 반복에서 열려있을것인 셀렉트를 닫아주고 div도 나눠준다.-->
                <% end %> 
                
                <% if e.ingredient_category != lastcategory%><!--이전 카테고리랑 지금 카테고리가 다른경우 이건 새 카테고리라는 뜻(중복이 아님)-->
                    <div><!--디비전을 열어주고-->
                    <label><%= e.ingredient_category %> : <label><!-- 해당 카테고리 라벨 써준다. -->
                    <select name="<%= e.ingredient_category %>"><!--셀렉트 열어준다.-->
                <% end %>
                
                <option value="<%= e.ingredient_number%>" > <%=e.ingredient_name%> </option><!--셀렉트가 열려있는 상태에서 벨류값을 한번씩 써준다-->
                <% lastcategory = e.ingredient_category %> <!--핵심!! 반복문 한번이 끝났으므로, 이전 카테고리란에 방금 끝낸 회차의 카테고리를 넣어준다.-->
                
            <% end %>
            </select> <!--반복문 안에서는 열린 셀렉트를 닫을 수 없으므로, 수동으로 닫아준다.-->
            </div> <!-- 열었던 큰 div도 닫아준다. -->
            <!--  *******************************************  -->
            
            <label='input_title'>베이스 메뉴</label>
            <select name="base_menu" >
                <option value="A">라임 패션티</option>
                <option value="B">자몽 허니 블랙 티</option>    
                <option value="C">유스베리 티</option>
            </select>
    
            <br>
            
            <label for='input_title'>아이스/핫</label>
            <select name = "temperature">
                <option value="1">ICE</option>
                <option value="2">HOT</option>
            </select>
            
            <br>
                
            <label>사이즈</label>
            <select name="size" >
                <option value="1">Short</option>
                <option value="2">Tall</option>    
                <option value="3">Grande</option>
                <option value="4">Venti</option>
            </select>
            
            <br>
                
            <label for='coffie'>커피</label>
            <label>커피</label>
            <select name = 'coffie'>
                <option value="A1">에스프레소 샷</option>
                <option value="A2">에스프레소 더불샷</option>
            </select>
            
            <br>
            
            <label>시럽</label>
            <select name="syrup">
                <option value="B1">바닐라 시럽</option>    
                <option value="B2">헤이즐넛 시럽</option>
                <option value="B3">카라멜 시럽</option>
            </select>
            
            <br>
            
            <label>우유</label>
            <select name='milk'>
                <option value="C1">일반 우유</option>    
                <option value="C2">저지방 우유</option>
                <option value="C3">무지방 우유</option>
            </select>
            
            <br>
            
            <label>휘핑</label>
            <select name="whipping">
                <option value="D1">일반 휘핑</option>    
                <option value="D2">에스프레소 휘핑</option>
            </select>
            
            <br>
            
            <label>자바칩</label>
            <select name="chip">
                <option value="E1">자바칩</option>    
                <option value="E2">자바칩&토핑(반반)</option>
                <option value="E3">통 자바칩 토핑</option>
            </select>
            
            <br>
            
            <label>드리즐</label>
            <select name="drizzle">
                <option value="F1">초콜릿</option>    
                <option value="F2">카라멜</option>
                <option value="F3">통 자바칩 토핑</option>
            </select>
        
            <br>
            
            <label>별점</label>
            <select name="star_rating">
                <option value="1">*</option>    
                <option value="2">**</option>
                <option value="3">***</option>
                <option value="4">****</option>
                <option value="5">*****</option>
            </select>
            
            <!---->
            
            <div class=stars>
            <select name="star_rating" id="star_rating" data-current-rating="1" display="" >
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <br>
            <span class="title current-rating">
              Current rating: <span class="value"></span>
            </span>
            <span class="title your-rating hidden">
              Your rating: <span class="value" ></span>&nbsp;
              <a href="#" class="clear-rating"><i class="fa fa-times-circle"></i></a>
            </span>
        </div>
        

    </div>
            
            
            <button type="submit">Submit</button>
    </form>
    
    <%= 
    
    @maker_name
    @drink_name
    
    @base
    @temperature
    @size
    @coffie
    @syrup
    @milk
    @whipping
    @chip
    @drizzle
    
    
    
    
    %>
    
</div>
